@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {

  --foreground: #171717;
  --element-color: rgb(220, 53, 69);
  --background: #131F3F;
  --section-background: #182544;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background) !important;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.banner {
 background-color: rgb(49, 59, 94);
}

.banner img {
  object-fit: cover;
  position: relative;
  mix-blend-mode: multiply;
  height: 800px;
}

main {
  color: #ffffff;
}




.custom-form {
  background-color:var(--section-background);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  flex: 1;

}


.custom-input {
  background: var(--section-background) !important;
  border: none !important;
  border-bottom: 2px solid crimson !important;
  border-radius: 0px !important;

}

.custom-input::placeholder {
 color: rgb(160, 160, 160) !important;
}

.custom-input:focus {
  box-shadow: 0 0 5px .15rem rgba(67, 113, 187, 0.548) !important;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}


.float-animation {
  animation: float 3s ease-in-out infinite;
}
.card-equipe {
  background: var(--background);
  border: 1px solid #d9d9d9;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-equipe:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}
.image-wrapper img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.image-wrapper img:hover {
  transform: scale(1.1);
}
.animate-card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.animate-card.visible {
  opacity: 1;
  transform: translateY(0);
}