.navbar {
    background-color:#0B192C;
  }
  
  .navbar-nav {
    gap: 30px;
  }
  
  .navbar-brand,
  .nav-link {
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
    font-size: 1.2rem;
  }
  
  .logo {
    font-size: 2rem;
  }
  
  .nav-link.item:hover {
    background-color: white;
    color: black;
  }